{% extends "padre.html" %}

{% load static %}

{% block adm_regular %}

<section class="page-subsection bg-rojo">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class="text-white mt-0 fw-bold">ADMISIÓN REGULAR</h1>
            </div>
        </div>
    </div>
</section>

<section class="page-section" id=admision>
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Texto de Prueba Admisión REGULAR</h2>
        <hr class="divider" />
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi bi-mortarboard fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Experiencia</h3>
                    <p class="text-muted mb-0">Docentes con más de 20 años de experiencia.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi bi-puzzle fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Personalización</h3>
                    <p class="text-muted mb-0">Programas de estudio diseñados para potenciar tu rendimiento.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi bi-folder2-open fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Recursos</h3>
                    <p class="text-muted mb-0">Accede a recursos digitales y plataformas especializadas-</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock adm_regular %}