{% extends "padre.html" %}

{% load static %}

{% block inicio %}


{% block contenedores %}
    {{ block.super }}


<header class="masthead"></header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-8 col-xl-6 text-center">
            <h1 class="mt-5 text-uppercase fw-bold">Nuestros productos</h1>
            <hr class="divider" />
        </div>
    </div>
</div>
<div id="cursos">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="curso-box" href="{% url 'Refuerzo' %}">
                    <img class="img-fluid curso-image" src="{% static 'AppMatriz/assets/img/portfolio/thumbnails/1.jpg' %}" alt="..." />
                    <div class="curso-box-caption">
                        <div class="project-category text-white-50"></div>
                        <div class="project-name">Refuerzo Universitario</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="curso-box" href="{% url 'RefuerzoPre' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'AppMatriz/assets/img/portfolio/thumbnails/2.jpg' %}" alt="..." />
                    <div class="curso-box-caption">
                        <div class="project-category text-white-50"></div>
                        <div class="project-name">Refuerzo Pre</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="curso-box" href="{% url 'Admision' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'AppMatriz/assets/img/portfolio/thumbnails/3.jpg' %}" alt="..." />
                    <div class="curso-box-caption">
                        <div class="project-category text-white-50"></div>
                        <div class="project-name">Admisión Regular</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="curso-box" href="{% url 'Nivelacion' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'AppMatriz/assets/img/portfolio/thumbnails/4.jpg' %}" alt="..." />
                    <div class="curso-box-caption">
                        <div class="project-category text-white-50"></div>
                        <div class="project-name">Nivelación</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="curso-box" href="{% url 'Adelanto' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'AppMatriz/assets/img/portfolio/thumbnails/5.jpg' %}" alt="..." />
                    <div class="curso-box-caption">
                        <div class="project-category text-white-50"></div>
                        <div class="project-name">Adelanto Escolar</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="curso-box" href="{% url 'Nosotros' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'AppMatriz/assets/img/portfolio/thumbnails/6.jpg' %}" alt="..." />
                    <div class="curso-box-caption p-3">
                        <div class="project-category text-white-50"></div>
                        <div class="project-name">Nosotros</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock contenedores %}


<section class="page-section bg-rojo" id=acerca_de>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white">Nuestra experiencia es tu camino al éxito universitario</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">En Matriz, te ofrecemos un camino hacia el éxito académico que te preparará para enfrentar cualquier desafío que encuentres en tu trayectoria universitaria.</p>
            </div>
        </div>
    </div>
</section>

{% endblock inicio %}