{% extends "padre.html" %}

{% load static %}

{% block inicio %}

<section class="page-section bg-primary" id=acerca_de>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Nuestra experiencia es tu camino al éxito universitario</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">En Matriz, te ofrecemos un camino hacia el éxito académico que te preparará para enfrentar cualquier desafío que encuentres en tu trayectoria universitaria.</p>
            </div>
        </div>
    </div>
</section>

{% endblock inicio %}