<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Matriz</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'AppMatriz/assets/favicon.ico' %}" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppMatriz/css/styles.css' %}" rel="stylesheet" />

        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'AppMatriz/js/scripts.js' %}"></script>

    </head>
    <body id="page-top">
        <!-- Navegación -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'Inicio' %}">
                    <img src="{% static 'AppMatriz/assets/logo-rojo-matriz.png' %}" alt="Matriz" style="height: 30px;">
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'Nosotros' %}">Nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'RefuerzoUP' %}">Universitario</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'RefuerzoPre' %}">Pre-Universitario</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Adelanto' %}">Escolar</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contactanos">Redes</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Inicio -->
        {% block inicio %}
        
        {% endblock inicio %}


        <!-- Refuerzo -->
        {% block refuerzo %}
        
        {% endblock refuerzo %}


            <!-- Matemáticas -->
            <!-- Nivelación Matemática -->
            {% block nive_mate %}
            
            {% endblock nive_mate %}

            <!-- Mate 1 -->
            {% block mate1 %}
            
            {% endblock mate1 %}

            <!-- Mate 2 -->
            {% block mate2 %}
            
            {% endblock mate2 %}

            <!-- Matemáticas para los Negocios -->
            {% block mate_nego %}
            
            {% endblock mate_nego %}

            <!-- Mate 3 -->
            {% block mate3 %}
            
            {% endblock mate3 %}

            <!-- Mate 4 -->
            {% block mate4 %}
            
            {% endblock mate4 %}


            <!-- Estadística -->
            <!-- Esta 1 -->
            {% block esta1 %}
            
            {% endblock esta1 %}

            <!-- Esta 2 -->
            {% block esta2 %}
            
            {% endblock esta2 %}

            <!-- Análisis Multivariado para los Negocios -->
            {% block amn %}
            
            {% endblock amn %}


            <!-- Informática -->
            <!-- Nivelación Informática -->
            {% block nive_info %}
            
            {% endblock nive_info %}

            <!-- Analítica de Datos para los Negocios -->
            {% block analisis %}
            
            {% endblock analisis %}


            <!-- Economía y Finanzas -->
            <!-- Economía 1 -->
            {% block eco1 %}
            
            {% endblock eco1 %}

            <!-- Economía 2 -->
            {% block eco2 %}
            
            {% endblock eco2 %}

            <!-- Fundamentos de Finanzas -->
            {% block funda_finanzas %}
            
            {% endblock funda_finanzas %}


            <!-- Lenguaje -->
            <!-- Nivelación en Lenguaje -->
            {% block nive_lengua %}
            
            {% endblock nive_lengua %}

            <!-- Lenguaje 1 -->
            {% block lengua1 %}
            
            {% endblock lengua1 %}

            <!-- Lenguaje 2 -->
            {% block lengua2 %}
            
            {% endblock lengua2 %}


        <!-- Refuerzo Pre -->
        {% block refuerzo_pre %}
        
        {% endblock refuerzo_pre %}


        <!-- Admisión UP -->
        {% block adm_up %}
        
        {% endblock adm_up %}

        {% block adm_regular %}
        
        {% endblock adm_regular %}

        {% block adm_selectiva %}
        
        {% endblock adm_selectiva %}


        <!-- Nivelación -->
        {% block nivelacion %}
        
        {% endblock nivelacion %}


        <!-- Adelanto -->
        {% block adelanto %}
        
        {% endblock adelanto %}


        <!-- Galería -->
        {% block galeria %}
        
        {% endblock galeria %}


        <!-- Contacto -->
        <section class="page-content bg-dark text-white" id="map">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center">Ubícanos</h2>
                <hr class="divider divider-light" />
                <div class="row justify-content-center align-items-center">
                    <div class="col-8 col-lg-3 mx-3 my-2 d-flex flex-column justify-content-center align-items-center">
                        <!-- WhatsApp -->
                        <div class="d-flex align-items-center mb-4">
                            <a href="https://wa.link/4zua5n" target="_blank" class="d-flex align-items-center text-decoration-none">
                                <i class="bi bi-whatsapp fs-2 text-primary me-2"></i>
                                <h3 class="h4 my-0 text-white ms-2">WhatsApp</h3>
                            </a>
                        </div>
                        <!-- Instagram -->
                        <div class="d-flex align-items-center mb-4">
                            <a href="https://www.instagram.com/grupomatriz__/" target="_blank" class="d-flex align-items-center text-decoration-none">
                                <i class="bi bi-instagram fs-2 text-primary me-2"></i>
                                <h3 class="h4 my-0 text-white ms-2">Instagram</h3>
                            </a>
                        </div>
                        <!-- Tik Tok -->
                        <div class="d-flex align-items-center mb-4">
                            <a href="https://www.tiktok.com/@grupo.matriz" target="_blank" class="d-flex align-items-center text-decoration-none">
                                <i class="bi bi-tiktok fs-2 text-primary me-2"></i>
                                <h3 class="h4 my-0 text-white ms-2">Tik Tok</h3>
                            </a>
                        </div>
                        <!-- Facebook -->
                        <div class="d-flex align-items-center">
                            <a href="https://www.facebook.com/lamatriz" target="_blank" class="d-flex align-items-center text-decoration-none">
                                <i class="bi bi-facebook fs-2 text-primary me-2"></i>
                                <h3 class="h4 my-0 text-white ms-2">Facebook</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-8 col-lg-8 mx-3 mt-2 mb-5 d-flex justify-content-center align-items-center">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.3959462581047!2d-77.05317682314168!3d-12.08502364261792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8f91eb4fed5%3A0x2cdb5954d728d28b!2sGrupo%20La%20Matriz!5e0!3m2!1ses!2sca!4v1709299462987!5m2!1ses!2sca" class="w-100" style="border:0; height: 320px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </section>


        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2023 - Matriz</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
