{% extends "padre.html" %}

{% load static %}

{% block esta2 %}

<section id=esta2>
    <div class="container px-4 px-lg-5">
        <h1 class="text-center mt-5">Estadística 2</h1>
        <hr class="divider" />
        <div class="row justify-content-between">
            <div class="col-lg-6 col-md-8 text-start">
                <div class="mt-5">
                    <div class="mb-2"></div>
                    <p class="text-muted mb-0">El curso de Estadística 1 ofrece una introducción exhaustiva a los conceptos fundamentales de la estadística y su aplicación en diversos campos académicos y profesionales. Diseñado para estudiantes de una amplia gama de disciplinas, este curso aborda temas clave como medidas de tendencia central, dispersión, probabilidad y distribuciones estadísticas.
                        A través de una combinación equilibrada de teoría y práctica, los participantes adquieren habilidades para recopilar, organizar y analizar datos de manera efectiva, utilizando herramientas estadísticas y software especializado. Además de desarrollar competencias técnicas, el curso fomenta el pensamiento crítico y la capacidad para interpretar los resultados estadísticos de manera significativa.
                        Los estudiantes exploran casos de estudio relevantes y aplican técnicas estadísticas para abordar problemas del mundo real en sus respectivos campos de estudio. Esta sólida formación proporciona una base fundamental para cursos avanzados en estadística y equipa a los participantes con las habilidades necesarias para enfrentar los desafíos analíticos en sus futuras carreras profesionales.</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 align-self-center">
                <!-- Placeholder for your image -->
                <img src="{% static 'AppMatriz/assets/img/portfolio/fullsize/esta1.png' %}" alt="..." class="img-fluid" >
            </div>
        </div>
    </div>
</section>
<section class="page-section" id=esta1>
    <div class="container px-4 px-lg-5">
        <h1 class="text-center">Profesor a cargo</h1>
        <hr class="divider" />
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 mt-5 align-self-center">
                <!-- Placeholder for your image -->
                <img src="{% static 'AppMatriz/assets/profes/chiki.png' %}" alt="..." class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-8 mt-5">
                <div class="d-flex flex-column justify-content-center align-items-start h-100">
                    <div class="mt-lg-0 ms-5">
                        <p class="text-muted mb-0">Nombre: Juan Rubén Prado</p>
                        <p class="text-muted mb-0">Experiencia: Más de 20 años</p>
                        <p class="text-muted mb-0">Horarios: </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section bg-dark text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">Ver más cursos de Refuerzo UP</h2>
        <a class="btn btn-light btn-xl" href="/AppMatriz/refuerzo/#cursos">Regresar</a>
    </div>
</section>

{% endblock esta2 %}