{% extends "padre.html" %}

{% load static %}

{% block funda_finanzas %}

<!-- Subtítulo Fundamentos de Finanzas -->
<section class="page-subsection bg-rojo">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class="text-white mt-0 fw-bold text-uppercase">Fundamentos de Finanzas</h1>
            </div>
        </div>
    </div>
</section>

<!-- Contenido -->
<section id=esta1 class="mt-3 pb-2">
    <div class="container px-4 px-lg-5 mb-5">
        <div class="row justify-content-between">
            <div class="col-lg-6 col-md-8 text-start">
                <div class="mt-5">
                    <div class="mb-2"></div>
                    <h2 class="mt-5 text-danger">Inicio de clases</h2>
                    <p class="text-dark mb-0" style="font-size:large;">Viernes, 22 de marzo.</p>
                    <h2 class="text-danger" style="margin-top: 2.5rem;">Especificaciones</h2>
                    <ul class="text-dark mb-0" style="font-size:large;">
                        <li>Clases híbridas</li>
                        <li>16 clases hata el examen parcial.</li>
                        <li>2 clases por semana</li>
                        <li>Separatas con contenido teórico-práctico disponibles en nuestra plataforma.</li>
                        <li>Asesoría permanente mediante WhatsApp</li>
                        <li>No se brindarán grabaciones.</li>
                    </ul>
                    <h2 class="text-danger" style="margin-top: 2.5rem;">Profesor</h2>
                    <p class="text-dark mb-0" style="font-size:large;">Francis Siancas</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 mt-5 align-self-center">
                <img src="{% static 'AppMatriz/assets/profes/francis.jpeg' %}" alt="..." class="img-fluid" style="border-radius: 25px;">
            </div>
        </div>
    </div>
</section>


<!-- Horarios -->
<section id="horario" class="mt-5">
    <div class="container px-4 px-lg-8">
        <div class="row">
            {% for horario in horarios %}
            <div class="col-md-12 my-5">
                <div class="text-center">
                    <img src="{{ horario.imagen.url }}" alt="Image {{ forloop.counter }}" class="img-fluid" style="border-radius: 15px;">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Volver -->
<section class="page-section bg-rojo text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">Ver más cursos de Refuerzo UP</h2>
        <a class="btn btn-light btn-xl" href="{% url 'RefuerzoUP' %}">Regresar</a>
    </div>
</section>

{% endblock funda_finanzas %}