{% extends "padre.html" %}

{% load static %}

{% block refuerzo %}
    {{ block.super }}  


<section class="page-subsection bg-rojo">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class="text-white mt-0 fw-bold">REFUERZO UNIVERSITARIO</h1>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark text-white">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h3 class="mt-5 text-uppercase fw-bold">Cursos</h3>
                <hr class="divider divider-light" />
            </div>
        </div>
    </div>
    <div id="cursos">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-4 col-sm-6">
                    <a class="curso-box" href="{% url 'Esta1' %}">
                        <img class="img-fluid curso-image" src="{% static 'AppMatriz/assets/img/portfolio/thumbnails/1.jpg' %}" alt="..." style="border-radius: 50px;"/>
                        <div class="curso-box-caption">
                            <div class="project-category text-white-50"></div>
                            <div class="project-name">Estadística 1</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="curso-box" href="{% url 'Esta2' %}" title="Project Name">
                        <img class="img-fluid" src="{% static 'AppMatriz/assets/img/portfolio/thumbnails/2.jpg' %}" alt="..." />
                        <div class="curso-box-caption">
                            <div class="project-category text-white-50"></div>
                            <div class="project-name">Estadística 2</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="curso-box" href="assets/img/portfolio/fullsize/3.jpg" title="Project Name">
                        <img class="img-fluid" src="{% static 'AppMatriz/assets/img/portfolio/thumbnails/3.jpg' %}" alt="..." />
                        <div class="curso-box-caption">
                            <div class="project-category text-white-50"></div>
                            <div class="project-name">Análisis Multivariado para los Negocios</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="curso-box" href="#" title="Project Name">
                        <img class="img-fluid" src="{% static 'AppMatriz/assets/img/portfolio/thumbnails/2.jpg' %}" alt="..." />
                        <div class="curso-box-caption">
                            <div class="project-category text-white-50"></div>
                            <div class="project-name">Nivelación en Matemáticas</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="curso-box" href="assets/img/portfolio/fullsize/4.jpg" title="Project Name">
                        <img class="img-fluid" src="{% static 'AppMatriz/assets/img/portfolio/thumbnails/4.jpg' %}" alt="..." />
                        <div class="curso-box-caption">
                            <div class="project-category text-white-50"></div>
                            <div class="project-name">Matemáticas 1</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="curso-box" href="assets/img/portfolio/fullsize/5.jpg" title="Project Name">
                        <img class="img-fluid" src="{% static 'AppMatriz/assets/img/portfolio/thumbnails/5.jpg' %}" alt="..." />
                        <div class="curso-box-caption">
                            <div class="project-category text-white-50"></div>
                            <div class="project-name">Matemáticas 2</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="curso-box" href="#" title="Project Name">
                        <img class="img-fluid" src="{% static 'AppMatriz/assets/img/portfolio/thumbnails/2.jpg' %}" alt="..." />
                        <div class="curso-box-caption">
                            <div class="project-category text-white-50"></div>
                            <div class="project-name">Matemáticas para los Negocios</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="curso-box" href="assets/img/portfolio/fullsize/6.jpg" title="Project Name">
                        <img class="img-fluid" src="{% static 'AppMatriz/assets/img/portfolio/thumbnails/6.jpg' %}" alt="..." />
                        <div class="curso-box-caption p-3">
                            <div class="project-category text-white-50"></div>
                            <div class="project-name">Matemáticas 3</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="curso-box" href="/AppMatriz/refuerzo/esta1">
                        <img class="img-fluid curso-image" src="{% static 'AppMatriz/assets/img/portfolio/thumbnails/1.jpg' %}" alt="..." />
                        <div class="curso-box-caption">
                            <div class="project-category text-white-50"></div>
                            <div class="project-name">Matemáticas 4</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="curso-box" href="#" title="Project Name">
                        <img class="img-fluid" src="{% static 'AppMatriz/assets/img/portfolio/thumbnails/2.jpg' %}" alt="..." />
                        <div class="curso-box-caption">
                            <div class="project-category text-white-50"></div>
                            <div class="project-name">Nivelación en Lenguaje</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="curso-box" href="assets/img/portfolio/fullsize/3.jpg" title="Project Name">
                        <img class="img-fluid" src="{% static 'AppMatriz/assets/img/portfolio/thumbnails/3.jpg' %}" alt="..." />
                        <div class="curso-box-caption">
                            <div class="project-category text-white-50"></div>
                            <div class="project-name">Lenguaje 1</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="curso-box" href="assets/img/portfolio/fullsize/4.jpg" title="Project Name">
                        <img class="img-fluid" src="{% static 'AppMatriz/assets/img/portfolio/thumbnails/4.jpg' %}" alt="..." />
                        <div class="curso-box-caption">
                            <div class="project-category text-white-50"></div>
                            <div class="project-name">Lenguaje 2</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="curso-box" href="assets/img/portfolio/fullsize/4.jpg" title="Project Name">
                        <img class="img-fluid" src="{% static 'AppMatriz/assets/img/portfolio/thumbnails/4.jpg' %}" alt="..." />
                        <div class="curso-box-caption">
                            <div class="project-category text-white-50"></div>
                            <div class="project-name">Nivelación en Informática</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="curso-box" href="assets/img/portfolio/fullsize/5.jpg" title="Project Name">
                        <img class="img-fluid" src="{% static 'AppMatriz/assets/img/portfolio/thumbnails/5.jpg' %}" alt="..." />
                        <div class="curso-box-caption">
                            <div class="project-category text-white-50"></div>
                            <div class="project-name">Analítica de Datos para los Negocios</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="curso-box" href="assets/img/portfolio/fullsize/6.jpg" title="Project Name">
                        <img class="img-fluid" src="{% static 'AppMatriz/assets/img/portfolio/thumbnails/6.jpg' %}" alt="..." />
                        <div class="curso-box-caption p-3">
                            <div class="project-category text-white-50"></div>
                            <div class="project-name">Economía 1</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Refuerzo Universitario Section -->
<section id="refuerzo">
    <div class="container px-4 px-lg-5">
        <h1 class="text-center mt-5 text-uppercase fw-bold">Refuerzo Universitario</h1>
        <hr class="divider" />
        <div class="row justify-content-between">
            <div class="col-lg-6 col-md-8 text-start">
                <div class="mt-5">
                    <div class="mb-2"></div>
                    <p class="text-muted mb-0">El curso de Estadística 1 ofrece una introducción exhaustiva a los conceptos fundamentales de la estadística y su aplicación en diversos campos académicos y profesionales. 
                    Diseñado para estudiantes de una amplia gama de disciplinas, este curso aborda temas clave como medidas de tendencia central, dispersión, probabilidad y distribuciones estadísticas. 
                    A través de una combinación equilibrada de teoría y práctica, los participantes adquieren habilidades para recopilar, organizar y analizar datos de manera efectiva, utilizando herramientas estadísticas y software especializado. 
                    Además de desarrollar competencias técnicas, el curso fomenta el pensamiento crítico y la capacidad para interpretar los resultados estadísticos de manera significativa. 
                    Los estudiantes exploran casos de estudio relevantes y aplican técnicas estadísticas para abordar problemas del mundo real en sus respectivos campos de estudio. 
                    Esta sólida formación proporciona una base fundamental para cursos avanzados en estadística y equipa a los participantes con las habilidades necesarias para enfrentar los desafíos analíticos en sus futuras carreras profesionales.</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 align-self-center">
                <!-- Placeholder for static image -->
                <img class="img-fluid curso-image" src="{% static 'AppMatriz/assets/profes/ruben.png' %}" alt="Static Image">
            </div>
        </div>
    </div>
</section>


{% endblock refuerzo %}