{% extends "padre.html" %}

{% load static %}

{% block refuerzo2 %}

<section class="page-subsection bg-rojo">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class="text-white mt-0 fw-bold">REFUERZO UNIVERSITARIO</h1>
            </div>
        </div>
    </div>
</section>


<!-- Matemáticas -->
<section class="page-content">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Matemáticas</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-3" style="max-width: 200px; margin: 0 auto;">
                    <a href="{% url 'Esta1' %}">
                        <div class="mb-2">
                            <img src="{% static 'AppMatriz/assets/iconos-cursos/calculadora.png' %}" alt="Esta 1 Icon" style="height: 80px;">
                        </div>
                        <h5 class="h5 mb-2">Nivelación en Matemáticas</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-3" style="max-width: 200px; margin: 0 auto;">
                    <a href="{% url 'Esta2' %}">
                        <div class="mb-2">
                            <img src="{% static 'AppMatriz/assets/iconos-cursos/materiales.png' %}" alt="Esta 2 Icon" style="height: 80px;">
                        </div>
                        <h5 class="h5 mb-2">Matemáticas 1</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-3" style="max-width: 200px; margin: 0 auto;">
                    <a href="{% url 'Esta2' %}">
                        <div class="mb-2">
                            <img src="{% static 'AppMatriz/assets/iconos-cursos/calculadora.png' %}" alt="Esta 2 Icon" style="height: 80px;">
                        </div>
                        <h5 class="h5 mb-2">Matemáticas 2</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <a href="{% url 'Esta1' %}">
                        <div class="mb-2">
                            <img src="{% static 'AppMatriz/assets/iconos-cursos/calculadora.png' %}" alt="Esta 1 Icon" style="height: 80px;">
                        </div>
                        <h5 class="h5 mb-2">Matemáticas para los Negocios</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <a href="{% url 'Esta2' %}">
                        <div class="mb-2">
                            <img src="{% static 'AppMatriz/assets/iconos-cursos/materiales.png' %}" alt="Esta 2 Icon" style="height: 80px;">
                        </div>
                        <h5 class="h5 mb-2">Matemáticas 3</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <a href="{% url 'Esta2' %}">
                        <div class="mb-2">
                            <img src="{% static 'AppMatriz/assets/iconos-cursos/calculadora.png' %}" alt="Esta 2 Icon" style="height: 80px;">
                        </div>
                        <h5 class="h5 mb-2">Matemáticas 4</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Estadística -->
<section class="page-content">
    <hr class="divider-long" />
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Estadística</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-3" style="max-width: 200px; margin: 0 auto;">
                    <a href="{% url 'Esta1' %}">
                        <div class="mb-2">
                            <img src="{% static 'AppMatriz/assets/iconos-cursos/estadistica.png' %}" alt="Esta 1 Icon" style="height: 80px;">
                        </div>
                        <h5 class="h5 mb-2">Estadística 1</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-3" style="max-width: 200px; margin: 0 auto;">
                    <a href="{% url 'Esta2' %}">
                        <div class="mb-2">
                            <img src="{% static 'AppMatriz/assets/iconos-cursos/estadistica.png' %}" alt="Esta 2 Icon" style="height: 80px;">
                        </div>
                        <h5 class="h5 mb-2">Estadística 2</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-3" style="max-width: 300px; margin: 0 auto;">
                    <a href="{% url 'Esta2' %}">
                        <div class="mb-2">
                            <img src="{% static 'AppMatriz/assets/iconos-cursos/pre.png' %}" alt="Esta 2 Icon" style="height: 80px;">
                        </div>
                        <h5 class="h5 mb-2">Análisis Multivariado para los Negocios</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Informática -->
<section class="page-content">
    <hr class="divider-long" />
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Informática</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="mt-3" style="max-width: 200px; margin: 0 auto;">
                    <a href="{% url 'Esta1' %}">
                        <div class="mb-2">
                            <img src="{% static 'AppMatriz/assets/iconos-cursos/cuaderno.png' %}" alt="Esta 1 Icon" style="height: 80px;">
                        </div>
                        <h5 class="h5 mb-2">Nivelación en Informática</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="mt-3" style="max-width: 300px; margin: 0 auto;">
                    <a href="{% url 'Esta2' %}">
                        <div class="mb-2">
                            <img src="{% static 'AppMatriz/assets/iconos-cursos/cuaderno.png' %}" alt="Esta 2 Icon" style="height: 80px;">
                        </div>
                        <h5 class="h5 mb-2">Analítica de Datos para los Negocios</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Economía -->
<section class="page-content">
    <hr class="divider-long" />
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Economía y Finanzas</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-3" style="max-width: 200px; margin: 0 auto;">
                    <a href="{% url 'Esta1' %}">
                        <div class="mb-2">
                            <img src="{% static 'AppMatriz/assets/iconos-cursos/estadistica.png' %}" alt="Esta 1 Icon" style="height: 80px;">
                        </div>
                        <h5 class="h5 mb-2">Economía 1</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-3" style="max-width: 200px; margin: 0 auto;">
                    <a href="{% url 'Esta2' %}">
                        <div class="mb-2">
                            <img src="{% static 'AppMatriz/assets/iconos-cursos/estadistica.png' %}" alt="Esta 2 Icon" style="height: 80px;">
                        </div>
                        <h5 class="h5 mb-2">Economía 2</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-3" style="max-width: 300px; margin: 0 auto;">
                    <a href="{% url 'Esta2' %}">
                        <div class="mb-2">
                            <img src="{% static 'AppMatriz/assets/iconos-cursos/pre.png' %}" alt="Esta 2 Icon" style="height: 80px;">
                        </div>
                        <h5 class="h5 mb-2">Fundamentos de Finanzas</h5>
                    </a>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>


<!-- Lenguaje -->
<section class="page-content-bottom">
    <hr class="divider-long" />
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Lenguaje</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-3" style="max-width: 200px; margin: 0 auto;">
                    <a href="{% url 'Esta1' %}">
                        <div class="mb-2">
                            <img src="{% static 'AppMatriz/assets/iconos-cursos/cuaderno.png' %}" alt="Esta 1 Icon" style="height: 80px;">
                        </div>
                        <h5 class="h5 mb-2">Nivelación en Lenguaje</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-3" style="max-width: 200px; margin: 0 auto;">
                    <a href="{% url 'Esta2' %}">
                        <div class="mb-2">
                            <img src="{% static 'AppMatriz/assets/iconos-cursos/cuaderno.png' %}" alt="Esta 2 Icon" style="height: 80px;">
                        </div>
                        <h5 class="h5 mb-2">Lenguaje 1</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-3" style="max-width: 200px; margin: 0 auto;">
                    <a href="{% url 'Esta2' %}">
                        <div class="mb-2">
                            <img src="{% static 'AppMatriz/assets/iconos-cursos/cuaderno.png' %}" alt="Esta 2 Icon" style="height: 80px;">
                        </div>
                        <h5 class="h5 mb-2">Lenguaje 2</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock refuerzo2 %}